config:
    complete_downloads_path: '/Users/cam/Downloads/Complete'
    library_path:            '/Volumes/Media/TV Shows'
    md5_check:               false

    tvdb:
        api_key:  'YOUR-TVDB-API-KEY'

#    # If you want push notifications when episodes complete
#    pushover:
#        token:     'your-pushover-token'
#        user_key:  '6kMh5eOOOKFSlLXTSmxv5A2eNImccK'
#        device:    'iphone'                         # Optional

#    # Override things that relate to certain series
#    series_config:
#        - name: 'futurama'
#          season_type: 'dvd'                          # Optional, accepts 'default', 'official', 'dvd', 'absolute', 'alternative', 'regional'
#          aliases:
#              - 'futurama 1999'                       # Match downloads with these series aliases as just 'futurama'
#              - 'futurama USA'
