config:
    complete_downloads_path: '/Users/cam/Downloads/Complete'
    library_path:            '/Volumes/Media/TV Shows'
    hd_res_naming:           false # Enable to add 720p/1080p/2160p at the end of series directory names
    tvdb:
        api_key:  'YOUR-TVDB-API-KEY'

#    # If you want push notifications when episodes complete
#    pushover:
#        token:     'your-pushover-token'
#        user_key:  'your-user-key'
#        device:    'iphone'              # Optional

#    # Override things that relate to certain series
#    series_config:
#        - name: 'futurama'
#          season_type: 'dvd'    # Optional, accepts 'default', 'official', 'dvd', 'absolute', 'alternative', 'regional'
#          aliases:
#              - 'futurama 1999' # Optional, force downloads with these series names to match 'futurama'
#              - 'futurama USA'

#    hash_check: true # Optional, if your media is coming out of a virtual machine (like mine), the file copy might not
#                     # be complete when this tool runs. To guard against moving the file while it is still being
#                     # written to, put a file beside the media file to validate the contents, i.e. the BLAKE2B hash of
#                     # Futurama.S01E01.mp4 would reside in a file named Futurama.S01E01.mp4.hash and the actual media
#                     # file will only be moved when the hashes match. The hash file will be cleaned up after the media
#                     # file is moved.
